<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/productList.css">
<title>Product List Page</title>
</head>
<body>

	<div align="center">
		<h1>Welcome To List Page..</h1>
		<form th:action="@{/productList}" method="get">
			<label>Search :</label> <input th:type="text" name="keyword"
				th:object="${keyword}" required /> &nbsp;
			<button type="submit">GO</button>
			&nbsp;&nbsp;
			<button type="submit">
				<a th:href="@{/productList}" />CLEAR
			</button>
		</form>
		<form>
			<table border="2px">
				<thead>
					<th>ID</th>
					<th>Product Name</th>
					<th>Product Type</th>
					<th>Product Category</th>
					<th>Product Price</th>
					<th>Action</th>
				</thead>

				<tbody>
					<tr th:each="Product:${listProduct}">
						<td th:text="${Product.ID}" />
						<td th:text="${Product.prodName}" />
						<td th:text="${Product.prodType}" />
						<td th:text="${Product.prodCategory}" />
						<td th:text="${Product.prodPrice}" />
						<td><button type="submit">
								<a th:href="@{'/updateProduct/' + ${Product.ID}}" />UPDATE
							</button> &nbsp;&nbsp;
							<button type="submit">
								<a th:href="@{'/delete/' + ${Product.ID}}" />DELETE
							</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		<button type="submit">
			<a th:href="@{/addProduct}" />Add Product
		</button>
		<button type="submit">
			<a th:href="@{/home}" />Home
		</button>
	</div>

</body>
</html>